body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}


.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
    width: 100vw;
    height: 100vh;

}

.dashboard {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: rgba(55, 146, 211, 0.868);
    

}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    box-shadow: 0 40px 16px #00000033;

}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(198, 198, 198);
}